<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="login.css">
</head>
<link rel="stylesheet" type="text/css" href="css/project.css">
<link rel="stylesheet" href="css/createIt.css">
|
|
|
    <div class="container mt-3 mb-3">
        <div class="card m-5 p-5 shadow p-3 mb-5 bg-white rounded">
            <h4 class="card-header">Create a project post</h4>

<body>
    
    <form id="msform" action="/createIt" method="POST">
        <fieldset>
            <h2 class="fs-title">Project Details</h2>
            <input type="text" name="fname" placeholder="Name" />
            <input type="text" name="tag" placeholder="Tags" />
            <input type="text" name="numbo" placeholder="How many members?" />
            <textarea name="about_project" placeholder="About the project. Use this space to properly explain your project and try to make it attractive"></textarea>
            <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            <!-- <input type="button" name="previous" class="previous action-button"  /> -->
        </fieldset>
    </form>
    

</body>

</html>