<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/register.css">

</head>

<body>


    <form id="msform" action="registernext" method="POST">

        <ul id="progressbar">


            <li>Personal Details</li>
        </ul>
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <h3 class="fs-subtitle">We will never sell it</h3>
                <input type="text" name="fname" placeholder="First Name" />
                <input type="text" name="lname" placeholder="Last Name" />
                <input type="text" name="phone" placeholder="Phone" />
                <textarea name="about" placeholder="About"></textarea>
                <button type="submit" class="submit action-button" > Submit </button>
                
            </fieldset>
    </form>
</body>

</html>